@import "variables";

.card-container {
  /* Default styles for div1 */

  @include for-mobile {
    width: 358px;
    height: fit-content;
    max-height: 487px;
    top: 1865px;
    left: 450px;
    padding: 16px, 0px, 16px, 0px;
  }

  @include for-tablet {
    /* Styles specific to div1 on tablet */
    /* ... */
  }

  @include for-desktop {
    /* Styles specific to div1 on desktop */
    /* ... */
  }

  @include for-large-desktop {
    /* Styles specific to div1 on large desktop */
    /* ... */
  }
}

.card-description {
  width: 358px;
  height: fit-content;
  max-height: 487px;
  top: 1865px;
  left: 450px;
  padding: 16px, 0px, 16px, 0px;
}

.speakers-container {
  width: 358px;
  height: fit-content;
  max-height: 172px;
  padding-left: 16px;
}
